.selfie-mission {
  padding: 1rem;
  text-align: center;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.take-selfie-button,
.continue-button {
  transition: all 0.3s;
}

.take-selfie-button:hover,
.continue-button:hover {
  transform: scale(1.05);
}

.take-selfie-button:active,
.continue-button:active {
  transform: scale(0.95);
}

